:root {
  --main-dark-background-color: #1F2937;
  --main-text-color: #F9FaF8;
  --secondary-text-color: #d6d6d6;
  --button-cta-color: #3882F6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--main-text-color);
}

.hero-background {
  margin: 0;
  padding: 2rem 2rem;
  background-color: var(--main-dark-background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-container {
  margin-left: 15%;
  margin-right: 15%;
  width: 70%;
}

.header-logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.flex-nav-container-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.padding-items {
  padding: 0 1.5rem;
}

.space-between-right-nav {
  margin: 0 1rem;
  color: var(--secondary-text-color);
}

.hero-container-spacing {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hero-main-text {
  font-size: 3rem;
  font-weight: bolder;
  color: var(--main-text-color);
}

.hero-secondary-text {
  font-size: 1rem;
  color: var(--secondary-text-color);
}

.hero-image {
  width: 28rem;
}

.sign-up-button {
  color: var(--main-text-color);
  font-weight: bold;
  background-color: var(--button-cta-color);
  padding: 0.3rem 1.8rem;
  margin: 0.5rem 0;
  border-radius: 8px;
  border: none;
}